<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Supervisão</h1>
            <p class="lead">Módulo da EHSFeelGood para supervisão de pagamentos e afiliações</a>.</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
