<%# add navigation links to this file %>
<% if @signed_in %>
    <li>
        <%= link_to 'Pagamentos', payments_path %>
    </li>
    <li>
        <%= link_to 'Afiliações', users_path %>
    </li>
    <li>
        <%= link_to "Sair", logout_path %>
    </li>
<% else %>
    <li>
        <%= link_to "Login", login_path %>
    </li>
<% end %>
